html {
  box-sizing: border-box;
  color: #2f2d13;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}



h1{
  margin: 0;
  padding: 1em;
  color: #fff;
  text-align: center;
  font-size: 2em;

}

.masthead {
  background-color: #AC0000;

  background-image: url("../images/logo1.svg");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left 29px, center 20px;
  background-size: 60px auto, 50px auto, 100px auto;
}



.nav a:hover{
  background-color: #E6E285;
}

nav li {
  float: left;
  width: 25%;
}

nav ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

nav a {
  padding: 0.5em;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  color: #8F1B23;
  width: 100%;
  margin: 0;
  background-color: #F3A81F;
  font-family: 'Oswald', sans-serif;
}



.tea {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dirtwrap {
position: relative;
padding: 0;

}

h2 {
  margin: 0;
  padding: 3em 0.5em 0.4em;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4));

  color: #fff;
  font-size: 3rem;
  font-weight: lighter;
  font-family: 'Anton', sans-serif;
  text-align: center;
  width: 100%;

}

h3:hover {
	background-image: linear-gradient(to top, #E6E285, #F4E84E);
}


h3 {
background-color: #AC0000;
color: #F3A81F;
margin: 1.2em 0em 0em 0em;
font-size: 2em;
font-family: 'Oswald', sans-serif;
padding: 0.3em 0em 0.3em 1em;
}


p {
  background-color: #F3A81F;
  padding: 3.5em 2em 3.5em 2em;
  margin: 0;
  color: #fff;
  font-size: 25px;
  font-weight: lighter;

}

.inside {
  width: 100%;
  padding:0;
}

.dish1 {
  width: 100%;
  margin: 0;
  padding: 0;
}


.menu1 {
margin: 0;
background-color: #F3A81F;
padding-bottom: 1.5em;
}

.dish2 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu2 {
  margin: 1em 0em 0em 0em;
  background-color: #F3A81F;
  padding-bottom: 1.7em;
}

.dish3 {
  width: 100%;
  margin: 0;
  padding: 0;
}


h4 {
  margin: 0;
  text-align: center;
  font-family: 'Lora', serif;
  color: #8F1B23;
  font-size: 1.5em;
  font-weight: bold;
}

h5{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  font-weight: lighter;
  color: #8F1B23;
  font-size: 1.2em;
}


img {
  width: 100%;
  padding-bottom: 0.5em;
}

dl{
  background-color: #F3A81F;
  margin: 0;
  padding-top: 25px;

}

dt{
  font-family: 'Oswald', sans-serif;
  color: #8F1B23;
  padding-left: 2em;
  font-size: 1.5em;
}



dd{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  padding-left: 65px;
  font-weight: lighter;
}



footer {
	text-align: center;


  background-color: rgba(143, 27, 35, 1);
  background-image: url("../images/logo1.svg");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: right 20px,center 20px;
  background-size: 55px auto, 100px auto, 100px auto;
}

.logo2{
  width: 60%;
}

.map{
  border: solid 0.5em;

  color: #F3A81F;
  padding: 0;
}

.mp{

  padding: 15px 0px 0px 50px;
  font-weight: bold;
  font-size: 20px;
}
