html {
  box-sizing: border-box;
  color: #2f2d13;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


h1{
  margin: 0;
  padding: 1em;
  text-align: center;
  
}


nav li {
  float: left;
  width: 25%;
}

nav ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden:
}

nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  background-color: red;
  color: #fff;
  width: 100%;
  margin: 0;
}

.masthead{
  padding: 0em;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left 20px, right 20px, center 20px;
	text-align: center;
  background-size: 50px auto, 50px auto, 100px auto;
  background-image: url("../images/logo_restaurant.svg")

}
