html {
  box-sizing: border-box;
  color: #2f2d13;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


h1{
  margin: 0;
  padding: 1em;
  text-align: center;
  font-family: 'Open Sans bold', sans-serif;
  
}


nav li {
  float: left;
  width: 25%;
}

nav ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden:
}

nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  background-color: #fff;
  color: red;
  width: 100%;
  margin: 0;
}



.masthead {
  padding: 0em;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left 20px, right 20px, center 20px;
	text-align: center;
  background-size: 75px auto, 1000px auto, 100px auto;
  background-image: url("../images/logo_restaurant.svg"), url("../images/background.jpg");

}

.inside {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dirtwrap {
position: relative;
padding: 0;
}

h2 {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3));
	position: absolute;
	padding-bottom: 3em;
	padding-top: 8em;
	color: #fff;
	font-size: 3em;
	text-align: left;
	width: 100%;
	margin: 0;
  bottom: 0;
}
